* { margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#clock {
   width: 350px;
   height: 350px;
   margin: 60px auto;
   box-shadow: 1px 3px 10px brown, inset 1px -3px 10px brown,;
   background-color: rgb(51, 16, 16);
   position: relative;
  } 

 #zham {
    height: 390px;
    width: 390px;
   position: absolute;
   left: -21px;
   top: -24px; 
 }

#sec, #min, #hour {
   display: block;
   position: absolute;
   width: 150px;
   height: 300px;
   left: 100px;
   top: 25px;
  }

